Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    client-lint:
      root: "apps/public-viewer/"
      glob: "apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    client-admin-lint:
      root: "apps/admin/"
      glob: "apps/admin/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    dummy-server-lint:
      root: "utils/dummy-server/"
      glob: "utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json}"
      exclude: "hierarchical_result.json"
      run: "npx biome check {push_files}"
      skip: true
    api-ruff-check:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff check ."
    api-ruff-format:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff format . --check"

fix: Update SLUG_PATTERN to allow dots and Unicode, add validate_slug to all slug handlers
  apps/api/src/routers/admin_report.py
  apps/api/src/routers/report.py
Due: api-ruff-check, api-ruff-format

fix: Keep strict SLUG_PATTERN, only add validate_slug to all slug handlers
  apps/api/src/routers/admin_report.py
Due: api-ruff-check, api-ruff-format

fix: remove DEBUG logging configuration that causes excessive log output
  packages/analysis-core/src/analysis_core/steps/extraction.py
Due: none

style: apply ruff formatting to analysis-core package
  packages/analysis-core/src/analysis_core/__init__.py
  packages/analysis-core/src/analysis_core/config.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/plugin/__init__.py
  packages/analysis-core/src/analysis_core/plugin/decorator.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_aggregation.py
  packages/analysis-core/src/analysis_core/steps/__init__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_merge_labelling.py
  packages/analysis-core/src/analysis_core/workflow/engine.py
  packages/analysis-core/src/analysis_core/workflow/resolver.py
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_integration.py
  packages/analysis-core/tests/test_loader.py
  packages/analysis-core/tests/test_orchestration.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
  packages/analysis-core/tests/test_prompts.py
  packages/analysis-core/tests/test_steps_paths.py
  packages/analysis-core/tests/test_workflow_engine.py
Due: none

fix: raise error when config key is missing during path resolution
  packages/analysis-core/src/analysis_core/workflow/engine.py
Due: none

feat: add fail-fast validation for API keys in CLI
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

fix: address CodeRabbit review comments
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

docs: rewrite why-pnpm
  docs/development/why-pnpm.md
Due: none

Add report duplication plan
  PLAN_REPORT_DUPLICATION.md
Due: none

docs: add plugin output data structures
  docs/development/plugin-output-data-structures.md
  mkdocs.yml
Due: none

docs: note snake_case in pubcom csv
  docs/development/plugin-output-data-structures.md
Due: none

feat: improve API connection error messages for better debugging
  apps/public-viewer/app/[slug]/error.tsx
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/page.tsx
  apps/public-viewer/components/ApiConnectionError.tsx
  apps/public-viewer/type.ts
Due: client-lint

Update duplication plan details
  PLAN_REPORT_DUPLICATION.md
Due: none

Refine duplication plan and locking
  PLAN_REPORT_DUPLICATION.md
Due: none

Refine duplication plan
  PLAN_REPORT_DUPLICATION.md
Due: none

Add report duplication backend
  apps/api/src/routers/admin_report.py
  apps/api/src/schemas/admin_report.py
  apps/api/src/schemas/report.py
  apps/api/src/services/report_duplicate.py
  apps/api/src/services/report_launcher.py
  apps/api/src/services/report_status.py
  apps/api/src/services/report_sync.py
Due: api-ruff-check, api-ruff-format

Add duplicate UI and tests
  PLAN_REPORT_DUPLICATION.md
  apps/admin/app/_components/ReportCard/ActionMenu/ActionMenu.tsx
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/actions.ts
  apps/admin/app/_components/ReportCard/ReportCard.tsx
  apps/api/tests/routers/test_admin_report.py
  test/e2e/tests/admin/duplicate-report.spec.ts
  utils/dummy-server/app/admin/reports/[slug]/duplicate/route.ts
  utils/dummy-server/app/admin/reports/route.ts
Due: client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

chore: align docs and scripts on pnpm
  .github/workflows/e2e-tests.yml
  .gitignore
  CLAUDE.md
  M5_REFACTORING_PLAN.md
  Makefile
  apps/admin/Dockerfile
  apps/admin/instrumentation.server.ts
  apps/public-viewer/Dockerfile
  apps/public-viewer/entrypoint.sh
  apps/public-viewer/package.json
  apps/static-site-builder/Dockerfile
  apps/static-site-builder/src/index.ts
  docs/testing.md
  experiments/direct_win/README.md
  experiments/direct_win/direct_start_win.bat
  package-lock.json
  test/e2e/CLIENT_STATIC_TEST_PLAN.md
  test/e2e/README.md
  test/e2e/TEST_PLAN.md
  test/e2e/playwright.config.ts
  test/e2e/scripts/build-static.sh
  test/e2e/tests/admin/create-report.spec.ts
  test/e2e/tests/client-static/root/report-detail.spec.ts
  test/e2e/tests/client-static/root/reports.spec.ts
  utils/dummy-server/package-lock.json
Due: none

fix: stabilize report duplication flow
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/api/src/services/report_duplicate.py
  apps/api/src/services/report_status.py
  test/e2e/tests/admin/duplicate-report.spec.ts
  utils/dummy-server/app/admin/reports/[slug]/duplicate/route.ts
Due: client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

chore(api): add rye ruff script
  apps/api/pyproject.toml
Due: none

chore(api): satisfy ruff checks
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_duplicate.py
  apps/api/src/services/report_status.py
Due: api-ruff-check, api-ruff-format

pandas -> polars の変更をrequirements.lock にも反映
  apps/api/requirements-dev.lock
  apps/api/requirements.lock
Due: none

feat: レポート作成ページから一覧ページに戻る手段を追加
  apps/admin/app/create/page.tsx
  apps/admin/components/Header.tsx
Due: client-admin-lint

fix: update revalidateTag to use 'max' profile for Next.js 16 compatibility
  apps/public-viewer/app/api/revalidate/route.ts
Due: client-lint

技術解説資料へのリンクを追加
  docs/index.md
Due: none

chore(gitignore): ignore tmp and static export outputs
  .gitignore
Due: none

docs: add E2E stabilization plan log
  PLAN_E2E_STABILIZATION.md
Due: none

chore(api): add pandas dependency and refresh locks
  apps/api/pyproject.toml
  apps/api/requirements-dev.lock
  apps/api/requirements.lock
Due: none

fix(admin): use admin api key and add CORS to dummy routes
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/actions.ts
  utils/dummy-server/app/admin/plugins/route.ts
  utils/dummy-server/app/admin/reports/[slug]/duplicate/route.ts
  utils/dummy-server/app/admin/reports/route.ts
Due: client-admin-lint, dummy-server-lint

docs: add local dev quickstart for api/admin
  docs/getting-started/quickstart.md
Due: none
