Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    client-lint:
      root: "apps/public-viewer/"
      glob: "apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    client-admin-lint:
      root: "apps/admin/"
      glob: "apps/admin/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    dummy-server-lint:
      root: "utils/dummy-server/"
      glob: "utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json}"
      exclude: "hierarchical_result.json"
      run: "npx biome check {push_files}"
      skip: true
    api-ruff-check:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff check ."
    api-ruff-format:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff format . --check"

Narrow progress state values in polling hook
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.ts
Due: client-admin-lint

Format progress polling type guard
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.ts
Due: client-admin-lint

Fix admin progress polling CI
  apps/admin/app/_components/ReportCard/ProgressSteps/ProgressSteps.tsx
  apps/admin/app/_components/ReportCard/ProgressSteps/progressStepsConfig.ts
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.test.ts
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.ts
Due: client-admin-lint

Handle launch-time error visibility
  apps/admin/app/_components/ReportCard/ProgressSteps/ProgressSteps.tsx
  apps/api/src/services/report_launcher.py
  apps/api/tests/services/test_report_launcher.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

管理画面でレポート生成失敗時のエラーログを確認できるようにする (#852)
  apps/admin/app/_components/ReportCard/ProgressSteps/ProgressSteps.tsx
  apps/admin/app/_components/ReportCard/ProgressSteps/progressStepsConfig.ts
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.test.ts
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.ts
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_launcher.py
  apps/api/tests/routers/test_get_current_step.py
  apps/api/tests/services/test_report_launcher.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Use user API key in environment verification
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/verifyApiKey.test.ts
  apps/admin/app/create/components/EnvironmentCheckDialog/verifyApiKey.ts
  apps/admin/app/create/page.tsx
  apps/admin/app/reuse/[slug]/page.tsx
  apps/api/src/routers/admin_report.py
  apps/api/tests/routers/test_admin_report.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Refactor duplicated API test fixtures
  apps/api/tests/routers/test_get_current_step.py
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Refactor duplicated API test fixtures (#854)
  apps/api/tests/routers/test_get_current_step.py
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Use user API key in environment verification (#853)
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/verifyApiKey.test.ts
  apps/admin/app/create/components/EnvironmentCheckDialog/verifyApiKey.ts
  apps/admin/app/create/page.tsx
  apps/admin/app/reuse/[slug]/page.tsx
  apps/api/src/routers/admin_report.py
  apps/api/tests/routers/test_admin_report.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Clean reuse page effect dependencies
  apps/admin/app/reuse/[slug]/page.tsx
Due: client-admin-lint

Clean reuse page effect dependencies (#855)
  apps/admin/app/reuse/[slug]/page.tsx
Due: client-admin-lint

Backfill missing report slugs from status keys
  apps/api/src/services/report_status.py
  apps/api/tests/services/test_report_status.py
Due: api-ruff-check, api-ruff-format

Backfill missing report slugs from status keys (#856)
  apps/api/src/services/report_status.py
  apps/api/tests/services/test_report_status.py
Due: api-ruff-check, api-ruff-format

Fix scatter source link clicks under modebar
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/__tests__/ScatterChart.test.ts
Due: client-lint

Fix scatter source link clicks under modebar (#857)
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/__tests__/ScatterChart.test.ts
Due: client-lint

Fix Windows setup mojibake
  setup_win.bat
Due: none

Add lightweight Windows setup script CI
  .github/workflows/windows-setup-script.yml
  setup_win.bat
  tools/windows-tests/test_setup_win.ps1
Due: none

Add Windows real-machine setup verification docs
  docs/development/windows-real-machine-setup-verification.md
  docs/getting-started/windows-setup.md
  mkdocs.yml
Due: none

Stabilize Windows setup CI hooks
  setup_win.bat
  tools/windows-tests/test_setup_win.ps1
Due: none

Relax Windows env file assertion
  tools/windows-tests/test_setup_win.ps1
Due: none

Add Windows setup CI and runner workflow
  .github/workflows/windows-real-machine-e2e.yml
  .github/workflows/windows-setup-script.yml
  docs/development/windows-real-machine-setup-verification.md
  setup_win.bat
Due: none

Run Windows real-machine E2E on PR
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Fix Windows setup script CI failure handling
  .github/workflows/windows-setup-script.yml
Due: none

Stabilize Windows setup Docker checks
  .github/workflows/windows-setup-script.yml
  setup_win.bat
Due: none

Ensure Windows setup CI exits cleanly
  .github/workflows/windows-setup-script.yml
Due: none

Use default Windows self-hosted runner labels
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Use Windows PowerShell for self-hosted E2E
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Bypass PowerShell policy in Windows E2E
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Use explicit Docker path in Windows E2E
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Run Docker commands through cmd in Windows E2E
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Restrict Windows E2E PR trigger to nishio
  .github/workflows/windows-real-machine-e2e.yml
  docs/development/windows-real-machine-setup-verification.md
Due: none

Cancel stale Windows E2E runs
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Include shared CSP module in frontend Docker images
  apps/public-viewer/Dockerfile
  apps/static-site-builder/Dockerfile
Due: none

Use curl for Windows E2E readiness checks
  .github/workflows/windows-real-machine-e2e.yml
Due: none

Restrict Windows real-machine E2E to authorized manual runs
  .github/workflows/windows-real-machine-e2e.yml
  .github/workflows/windows-setup-script.yml
  docs/development/windows-real-machine-setup-verification.md
Due: none

[codex] Windows setup の実機 E2E と軽量 CI を追加 (#862)
  .github/workflows/windows-real-machine-e2e.yml
  .github/workflows/windows-setup-script.yml
  apps/public-viewer/Dockerfile
  apps/static-site-builder/Dockerfile
  docs/development/windows-real-machine-setup-verification.md
  docs/getting-started/windows-setup.md
  mkdocs.yml
  setup_win.bat
Due: none

Handle Windows choice prompt in CI
  .github/workflows/windows-setup-script.yml
  setup_win.bat
  tools/windows-tests/test_setup_win.ps1
Due: none

Windows setup を PowerShell に分離
  docs/getting-started/windows-setup.md
  setup_win.bat
  setup_win.ps1
Due: none

Fix non-interactive Docker check in PowerShell setup
  setup_win.ps1
Due: none

test: add manual subprocess smoke for report launcher
  apps/api/pytest.ini
  apps/api/tests/manual/report_launcher_subprocess_smoke.py
Due: api-ruff-check, api-ruff-format
