Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

client-lint:
  run: npx biome check {push_files}
  skip: true

client-admin-lint:
  run: npx biome check {push_files}
  skip: true

dummy-server-lint:
  run: npx biome check {push_files}
  skip: true

api-ruff-check:
  run: rye run ruff check .

api-ruff-format:
  run: rye run ruff format . --check

feat(api): allow LOG_FILE for logger output
  apps/api/src/utils/logger.py
Due: api-ruff-check, api-ruff-format

fix(api): keep source_slug out of analysis config
  apps/api/src/services/report_duplicate.py
Due: api-ruff-check, api-ruff-format

test(e2e): stabilize Playwright servers and subdir static tests
  package.json
  test/e2e/playwright.config.ts
  test/e2e/scripts/build-static.sh
  test/e2e/scripts/global-setup.ts
  test/e2e/tests/client-static/subdir/report-detail.spec.ts
  test/e2e/tests/client-static/subdir/reports.spec.ts
  utils/dummy-server/app/admin/plugins/route.ts
Due: dummy-server-lint

chore: resolve review items and document decisions
  PLAN_REPORT_DUPLICATION.md
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/actions.ts
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_duplicate.py
  experiments/direct_win/README.md
  test/e2e/README.md
  test/e2e/playwright.config.ts
  test/e2e/scripts/build-static.sh
  test/e2e/scripts/global-setup.ts
  utils/dummy-server/app/admin/reports/route.ts
  utils/dummy-server/package.json
Due: client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

fix(admin): avoid nested Text labels in duplicate dialog
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

feat(admin): expand duplicate dialog to full settings
  PLAN_REPORT_DUPLICATION.md
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/actions.ts
  apps/api/src/routers/admin_report.py
  test/e2e/tests/admin/duplicate-report.spec.ts
  utils/dummy-server/app/admin/reports/[slug]/config/route.ts
Due: client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

fix(admin): render labels without block elements
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

fix(admin): render label as inline elements
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

fix(api): validate duplicate slug in service
  apps/api/src/services/report_duplicate.py
Due: api-ruff-check, api-ruff-format

fix(admin): drop unsupported sx on DialogBody
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

feat(admin): rename duplicate to reuse in UI
  apps/admin/app/_components/ReportCard/ActionMenu/ActionMenu.tsx
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/actions.ts
Due: client-admin-lint

style(admin): widen reuse dialog to match create
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

docs: add troubleshooting for undefined report link
  docs/getting-started/quickstart.md
Due: none

ui(admin): clarify reuse dialog scrollbar
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

style(api): format admin_report router
  apps/api/src/routers/admin_report.py
Due: api-ruff-check, api-ruff-format

test(e2e): update reuse step label
  test/e2e/tests/admin/duplicate-report.spec.ts
Due: none

feat(admin): proxy reuse config via server route
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/admin/app/api/admin/reports/[slug]/config/route.ts
  apps/admin/app/reuse/[slug]/page.tsx
Due: client-admin-lint

fix(admin): stabilize reuse config effect
  apps/admin/app/reuse/[slug]/page.tsx
Due: client-admin-lint

fix(admin): correct gemini 2.5 flash description
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
Due: client-admin-lint

feat(admin): add reuse page and route
  apps/admin/app/_components/ReportCard/ActionMenu/ActionMenu.tsx
  apps/admin/app/_components/ReportCard/ReportCard.tsx
  apps/admin/app/reuse/[slug]/page.tsx
  test/e2e/tests/admin/duplicate-report.spec.ts
Due: client-admin-lint

fix(api): ensure local dirs exist before download
  apps/api/src/services/report_sync.py
Due: api-ruff-check, api-ruff-format

style(api): sort imports in report_duplicate
  apps/api/src/services/report_duplicate.py
Due: api-ruff-check, api-ruff-format

refactor(api): move slug validation to utils
  apps/api/src/routers/admin_report.py
  apps/api/src/routers/report.py
  apps/api/src/services/report_duplicate.py
  apps/api/src/utils/slug_utils.py
Due: api-ruff-check, api-ruff-format

style(api): sort imports after slug util
  apps/api/src/routers/admin_report.py
  apps/api/src/routers/report.py
Due: api-ruff-check, api-ruff-format

docs(e2e): add bash fences for setup commands
  test/e2e/README.md
Due: none

fix(admin): harden reuse flows
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/admin/app/api/admin/reports/[slug]/config/route.ts
  apps/admin/app/reuse/[slug]/page.tsx
Due: client-admin-lint

fix(admin): harden reuse config and submit
  apps/admin/app/reuse/[slug]/page.tsx
Due: client-admin-lint

fix(dummy): align reuse behaviors
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  utils/dummy-server/app/admin/reports/[slug]/duplicate/route.ts
  utils/dummy-server/app/admin/reports/route.ts
Due: client-admin-lint, dummy-server-lint

test(e2e): assert reuse redirects to list
  test/e2e/tests/admin/duplicate-report.spec.ts
Due: none

test(e2e): use fixture report slug
  test/e2e/tests/admin/duplicate-report.spec.ts
Due: none

Fix reuse flow and E2E envs
  apps/admin/app/reuse/[slug]/page.tsx
  apps/public-viewer/app/faq/Contact.tsx
  test/e2e/playwright.config.ts
  test/e2e/tests/admin/duplicate-report.spec.ts
  utils/dummy-server/app/admin/reports/[slug]/config/route.ts
Due: client-lint, client-admin-lint, dummy-server-lint

Clean .next before static builds
  test/e2e/scripts/build-static.sh
Due: none

Fix subdir build output log
  test/e2e/scripts/build-static.sh
Due: none

Align CI ruff with local lint/ci
  .github/workflows/ruff-check.yml
  apps/api/Makefile
Due: none

Send full reuse overrides and fix ruff issues
  apps/admin/app/reuse/[slug]/page.tsx
  apps/api/src/plugins/base.py
  apps/api/src/routers/admin_report.py
  apps/api/src/schemas/admin_report.py
  apps/api/src/services/report_duplicate.py
  utils/dummy-server/app/admin/reports/[slug]/duplicate/route.ts
Due: client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

Use ruff directly in lint/ci
  apps/api/Makefile
Due: none

Isolate static builds and improve basePath test
  apps/public-viewer/next.config.ts
  test/e2e/scripts/build-static.sh
  test/e2e/tests/client-static/subdir/reports.spec.ts
Due: none

Fix revalidateTag call signature
  apps/public-viewer/app/api/revalidate/route.ts
Due: client-lint

Handle legacy reuse config/input
  apps/admin/app/api/admin/reports/[slug]/config/route.ts
  apps/api/src/repositories/config_repository.py
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_duplicate.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Update Next.js revalidateTag signature
  apps/public-viewer/app/api/revalidate/route.ts
  apps/public-viewer/next-env.d.ts
  apps/public-viewer/tsconfig.json
Due: client-lint

Path conditions:
  client-lint: any of: apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/public\-viewer/
  client-admin-lint: any of: apps/admin/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/admin/
  dummy-server-lint: any of: utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json} and ^utils/dummy\-server/ and not (hierarchical_result.json)
  api-ruff-check: any of: apps/api/**/*.py and ^apps/api/
  api-ruff-format: any of: apps/api/**/*.py and ^apps/api/
