Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

client-lint:
  run: npx biome check {push_files}
  skip: true

client-admin-lint:
  run: npx biome check {push_files}
  skip: true

dummy-server-lint:
  run: npx biome check {push_files}
  skip: true

api-ruff-check:
  run: rye run ruff check .

api-ruff-format:
  run: rye run ruff format . --check

style: format manual subprocess smoke test
  apps/api/tests/manual/report_launcher_subprocess_smoke.py
Due: api-ruff-check, api-ruff-format

test: add full report launcher smoke and fix workflow paths
  apps/api/tests/manual/report_launcher_subprocess_smoke.py
  packages/analysis-core/src/analysis_core/plugins/builtin/embedding.py
  packages/analysis-core/src/analysis_core/plugins/builtin/extraction.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_aggregation.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_clustering.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_initial_labelling.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_merge_labelling.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_overview.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_visualization.py
Due: api-ruff-check, api-ruff-format

style: satisfy ruff in manual smoke test
  apps/api/tests/manual/report_launcher_subprocess_smoke.py
Due: api-ruff-check, api-ruff-format

refactor: dedupe legacy plugin config plumbing
  packages/analysis-core/src/analysis_core/plugins/builtin/_legacy_config.py
  packages/analysis-core/src/analysis_core/plugins/builtin/embedding.py
  packages/analysis-core/src/analysis_core/plugins/builtin/extraction.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_aggregation.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_clustering.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_initial_labelling.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_merge_labelling.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_overview.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_visualization.py
  packages/analysis-core/tests/test_builtin_plugins.py
Due: none

Address CodeRabbit review on Windows setup
  docs/getting-started/windows-setup.md
  setup_win.ps1
Due: none

test: add manual subprocess smoke for report launcher
  apps/api/pytest.ini
  apps/api/tests/manual/report_launcher_subprocess_smoke.py
Due: api-ruff-check, api-ruff-format

fix legacy input precedence in workflow plugin
  packages/analysis-core/src/analysis_core/plugins/builtin/_legacy_config.py
  packages/analysis-core/tests/test_builtin_plugins.py
Due: none

[codex] report_launcher の subprocess smoke と path cleanup を追加 (#864)
  apps/api/pytest.ini
  apps/api/tests/manual/report_launcher_subprocess_smoke.py
  packages/analysis-core/src/analysis_core/plugins/builtin/_legacy_config.py
  packages/analysis-core/src/analysis_core/plugins/builtin/embedding.py
  packages/analysis-core/src/analysis_core/plugins/builtin/extraction.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_aggregation.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_clustering.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_initial_labelling.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_merge_labelling.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_overview.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_visualization.py
  packages/analysis-core/tests/test_builtin_plugins.py
Due: api-ruff-check, api-ruff-format

cleanup: remove legacy broadlistening pipeline
  apps/api/broadlistening/README.md
  apps/api/broadlistening/__init__.py
  apps/api/broadlistening/pipeline/__init__.py
  apps/api/broadlistening/pipeline/hierarchical_main.py
  apps/api/broadlistening/pipeline/hierarchical_utils.py
  apps/api/broadlistening/pipeline/services/llm.py
  apps/api/broadlistening/pipeline/services/parse_json_list.py
  apps/api/broadlistening/pipeline/steps/embedding.py
  apps/api/broadlistening/pipeline/steps/extraction.py
  apps/api/broadlistening/pipeline/steps/hierarchical_aggregation.py
  apps/api/broadlistening/pipeline/steps/hierarchical_clustering.py
  apps/api/broadlistening/pipeline/steps/hierarchical_initial_labelling.py
  apps/api/broadlistening/pipeline/steps/hierarchical_merge_labelling.py
  apps/api/broadlistening/pipeline/steps/hierarchical_overview.py
  apps/api/broadlistening/pipeline/steps/hierarchical_visualization.py
  apps/api/pyproject.toml
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_launcher.py
  apps/api/src/services/report_sync.py
  apps/api/tests/routers/test_admin_report.py
  apps/api/tests/services/test_llm.py
  apps/api/tests/services/test_parse_json_list.py
  apps/api/tests/services/test_report_sync.py
  docs/refactoring/phase0_investigation.md
  docs/refactoring/phase2_5_plan.md
  docs/refactoring/phase3_plan.md
  docs/user-guide/cli-quickstart.md
  experiments/evaluation_report/src/evaluation_consistency_llm.py
  packages/analysis-core/README.md
  packages/analysis-core/src/analysis_core/config.py
  skills/kouchou-ai-architecture/SKILL.md
Due: api-ruff-check, api-ruff-format

ci: install analysis-core in server tests
  .github/workflows/server-pytest.yml
Due: none

Add LLM grouping analysis mode
  packages/analysis-core/src/analysis_core/compat/config_converter.py
  packages/analysis-core/src/analysis_core/core/__init__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/plugins/builtin/__init__.py
  packages/analysis-core/src/analysis_core/plugins/builtin/llm_grouping.py
  packages/analysis-core/src/analysis_core/prompts/__init__.py
  packages/analysis-core/src/analysis_core/specs/llm_grouping_specs.json
  packages/analysis-core/src/analysis_core/steps/__init__.py
  packages/analysis-core/src/analysis_core/steps/llm_grouping.py
  packages/analysis-core/src/analysis_core/workflows/__init__.py
  packages/analysis-core/src/analysis_core/workflows/llm_grouping_compatible.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_llm_grouping.py
  packages/analysis-core/tests/test_prompts.py
Due: none

Propagate runtime user API keys
  packages/analysis-core/src/analysis_core/compat/config_converter.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/plugins/builtin/_legacy_config.py
  packages/analysis-core/src/analysis_core/steps/embedding.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_initial_labelling.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_merge_labelling.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_overview.py
  packages/analysis-core/tests/test_builtin_plugins.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_orchestration.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

Snapshot remaining experiment work
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/compat/config_converter.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/plugins/builtin/__init__.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_label_refinement.py
  packages/analysis-core/src/analysis_core/plugins/builtin/llm_grouping.py
  packages/analysis-core/src/analysis_core/prompts/__init__.py
  packages/analysis-core/src/analysis_core/specs/hierarchical_specs.json
  packages/analysis-core/src/analysis_core/specs/llm_grouping_specs.json
  packages/analysis-core/src/analysis_core/steps/__init__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_label_refinement.py
  packages/analysis-core/src/analysis_core/steps/llm_grouping.py
  packages/analysis-core/src/analysis_core/workflows/__init__.py
  packages/analysis-core/src/analysis_core/workflows/hierarchical_default.py
  packages/analysis-core/src/analysis_core/workflows/llm_grouping_compatible.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_integration.py
  packages/analysis-core/tests/test_label_refinement.py
  packages/analysis-core/tests/test_llm_grouping.py
  packages/analysis-core/tests/test_orchestration.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
  packages/analysis-core/tests/test_prompts.py
  packages/analysis-core/tests/test_steps_paths.py
Due: none

Azure deploy を直列化して更新競合を避ける
  .github/workflows/azure-deploy.yml
Due: none

Harden llm grouping review fixes
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/specs/llm_grouping_specs.json
  packages/analysis-core/src/analysis_core/steps/llm_grouping.py
  packages/analysis-core/tests/test_llm_grouping.py
Due: none

Fix setup_win review follow-ups
  setup_win.ps1
Due: none

add semantic island layout generation
  packages/analysis-core/src/analysis_core/compat/config_converter.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/plugins/builtin/__init__.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_layout_generation.py
  packages/analysis-core/src/analysis_core/specs/hierarchical_specs.json
  packages/analysis-core/src/analysis_core/steps/__init__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_layout_generation.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_visualization.py
  packages/analysis-core/src/analysis_core/workflows/hierarchical_default.py
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
  packages/analysis-core/tests/test_builtin_plugins.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_hierarchical_layout_generation.py
  packages/analysis-core/tests/test_hierarchical_visualization.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_integration.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

keep semantic layout out of default pipeline
  packages/analysis-core/src/analysis_core/compat/config_converter.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/plugins/builtin/__init__.py
  packages/analysis-core/src/analysis_core/specs/hierarchical_specs.json
  packages/analysis-core/src/analysis_core/steps/__init__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_layout_generation.py
  packages/analysis-core/src/analysis_core/workflows/hierarchical_default.py
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_integration.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

Add reuse-from output seeding
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Fix reuse-from status seeding
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Remove fetch_reports from normal Azure operations
  Makefile
  docs/deployment/azure-blob-storage.md
  docs/refactoring/naming_convention.md
  tools/scripts/README.md
  tools/scripts/fetch_reports.py
Due: none

Clarify storage check docs
  docs/deployment/azure-blob-storage.md
  docs/refactoring/naming_convention.md
Due: none

Add storage readback and restore script
  apps/api/scripts/test_storage.py
  docs/deployment/azure-blob-storage.md
  docs/refactoring/naming_convention.md
  tools/scripts/README.md
  tools/scripts/download_reports_from_azure.py
Due: api-ruff-check, api-ruff-format

Fix test_storage formatting
  apps/api/scripts/test_storage.py
Due: api-ruff-check, api-ruff-format

Document storage snapshot operations
  docs/deployment/azure-blob-storage.md
  docs/deployment/storage-snapshot-operations.md
Due: none

Remove fetch_reports from deploy workflow
  .github/workflows/azure-deploy.yml
Due: none

Upload full storage snapshot to Azure
  docs/deployment/storage-snapshot-operations.md
  tools/scripts/README.md
  tools/scripts/download_reports_from_azure.py
  tools/scripts/upload_reports_to_azure.py
Due: none

Add deploy storage health check
  .github/workflows/azure-deploy.yml
  docs/deployment/azure-blob-storage.md
  docs/deployment/storage-snapshot-operations.md
  tools/scripts/README.md
Due: none

Fix storage restore review findings
  apps/api/scripts/test_storage.py
  apps/api/src/services/report_sync.py
  apps/api/src/services/storage.py
  apps/api/tests/services/test_azure_storage.py
  apps/api/tests/services/test_report_sync.py
  tools/scripts/download_reports_from_azure.py
Due: api-ruff-check, api-ruff-format

Add developer quickstart with utilization mode branching
  README.md
  docs/development/developer-quickstart.md
  docs/getting-started/quickstart.md
  docs/index.md
  mkdocs.yml
Due: none

Address CodeRabbit feedback on developer-quickstart
  README.md
  docs/development/developer-quickstart.md
Due: none

Add rubric judge for label quality evaluation
  experiments/evaluation_report/README.md
  experiments/evaluation_report/outputs/rubric_eval_2026-05-30/jigsaw_sample_comments_400_hierarchical_8_40_refine_balanced/evaluation_label_rubric_level1.json
  experiments/evaluation_report/outputs/rubric_eval_2026-05-30/jigsaw_sample_comments_400_hierarchical_8_40_refine_contrast/evaluation_label_rubric_level1.json
  experiments/evaluation_report/outputs/rubric_eval_2026-05-30/jigsaw_sample_comments_400_hierarchical_8_40_refine_none/evaluation_label_rubric_level1.json
  experiments/evaluation_report/outputs/rubric_eval_2026-05-30/jigsaw_sample_comments_400_hierarchical_8_40_refine_setwise/evaluation_label_rubric_level1.json
  experiments/evaluation_report/src/evaluation_label_rubric_llm.py
  experiments/evaluation_report/src/generate_csv.py
  experiments/evaluation_report/src/generate_html.py
  experiments/evaluation_report/src/run_evaluation.py
  experiments/evaluation_report/templates/report_template.html
Due: none

feat(packaging): Windows standalone bundle (embeddable Python + static viewer)
  .dockerignore
  apps/public-viewer/app/ReportListClient.tsx
  apps/public-viewer/app/StandaloneListPage.tsx
  apps/public-viewer/app/[slug]/StandaloneSlugView.tsx
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/page.tsx
  apps/public-viewer/app/report/page.tsx
  apps/public-viewer/app/utils/static-build.ts
  apps/public-viewer/components/report/ReportView.tsx
  apps/public-viewer/components/reporter/ReporterClient.tsx
  packaging/windows-standalone/.gitignore
  packaging/windows-standalone/README.md
  packaging/windows-standalone/build.ps1
  packaging/windows-standalone/env.sample
  packaging/windows-standalone/run-server.py
  packaging/windows-standalone/start.bat
  tmp-embeddable-poc/.gitignore
  tmp-embeddable-poc/FINAL-list.png
  tmp-embeddable-poc/FINAL-report.png
  tmp-embeddable-poc/FINDINGS.md
  tmp-embeddable-poc/diag.mjs
  tmp-embeddable-poc/diag2.mjs
  tmp-embeddable-poc/diag3.mjs
  tmp-embeddable-poc/diag4.mjs
  tmp-embeddable-poc/diag_viewer.mjs
  tmp-embeddable-poc/list-final.png
  tmp-embeddable-poc/run_clustering_real.py
  tmp-embeddable-poc/serve_app.py
  tmp-embeddable-poc/smoke_numba_umap.py
  tmp-embeddable-poc/verify_viewer.mjs
  tmp-embeddable-poc/verify_viewer_8141.mjs
  tmp-embeddable-poc/viewer-list.png
  tmp-embeddable-poc/viewer-report.png
Due: client-lint

fix(packaging): respect bundle .env in standalone launcher
  packaging/windows-standalone/env.sample
  packaging/windows-standalone/run-server.py
Due: none

feat(packaging): bundle admin UI as standalone static SPA
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/page.standalone.tsx
  apps/admin/app/utils/api.ts
  apps/admin/app/utils/image-src.ts
  apps/admin/components/Footer/Footer.standalone.tsx
  apps/admin/components/Header.tsx
  apps/admin/next.config.ts
  apps/admin/scripts/standalone-prep.mjs
  packaging/windows-standalone/README.md
  packaging/windows-standalone/build.ps1
  packaging/windows-standalone/run-server.py
  tmp-embeddable-poc/admin-create.png
  tmp-embeddable-poc/admin-list.png
  tmp-embeddable-poc/verify_admin.mjs
Due: client-admin-lint

Path conditions:
  client-lint: any of: apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/public\-viewer/
  client-admin-lint: any of: apps/admin/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/admin/
  dummy-server-lint: any of: utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json} and ^utils/dummy\-server/ and not (hierarchical_result.json)
  api-ruff-check: any of: apps/api/**/*.py and ^apps/api/
  api-ruff-format: any of: apps/api/**/*.py and ^apps/api/
