Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    client-lint:
      root: "apps/public-viewer/"
      glob: "apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    client-admin-lint:
      root: "apps/admin/"
      glob: "apps/admin/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    dummy-server-lint:
      root: "utils/dummy-server/"
      glob: "utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json}"
      exclude: "hierarchical_result.json"
      run: "npx biome check {push_files}"
      skip: true
    api-ruff-check:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff check ."
    api-ruff-format:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff format . --check"

Fix static export output dir for Next 16
  apps/admin/next-env.d.ts
  apps/admin/tsconfig.json
  test/e2e/scripts/build-static.sh
Due: none

Fix reuse workers comparison and config errors
  apps/admin/app/reuse/[slug]/page.tsx
  apps/api/src/routers/admin_report.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Allow basePath RSC static URLs
  test/e2e/tests/client-static/subdir/reports.spec.ts
Due: none

docs: add reuse report guide
  docs/getting-started/quickstart.md
  docs/user-guide/reuse-report.md
  experiments/direct_win/README.md
  mkdocs.yml
Due: none

feat(admin): レポート可視性アイコンにツールチップを追加
  apps/admin/app/_components/ReportCard/Visibility/Visibility.tsx
Due: client-admin-lint

fix(admin): Tooltipの位置をMenuTriggerの内側に移動
  apps/admin/app/_components/ReportCard/Visibility/Visibility.tsx
Due: client-admin-lint

fix(admin): aria-labelを追加し、メニュー開閉時にTooltipを制御
  apps/admin/app/_components/ReportCard/Visibility/Visibility.tsx
Due: client-admin-lint

feat(public-viewer): improve api error messages
  apps/public-viewer/app/[slug]/error.tsx
  apps/public-viewer/app/faq/page.tsx
  apps/public-viewer/app/page.tsx
  apps/public-viewer/components/ApiConnectionError.tsx
Due: client-lint

fix(public-viewer): resolve build errors
  apps/public-viewer/app/[slug]/error.tsx
  apps/public-viewer/app/page.tsx
Due: client-lint

Fix Azure deploy build context for monorepo
  .github/workflows/azure-deploy.yml
Due: none

Temporarily move .env.azure out of build context
  .github/workflows/azure-deploy.yml
Due: none

fix(admin): stabilize menu tooltip triggers
  apps/admin/app/_components/PageContent.tsx
  apps/admin/app/_components/ReportCard/ActionMenu/ActionMenu.tsx
  apps/admin/app/_components/ReportCard/Visibility/Visibility.tsx
  apps/admin/components/ui/tooltip.tsx
Due: client-admin-lint

fix(api): use polars for plugin dataframes
  apps/api/src/plugins/base.py
  apps/api/src/plugins/youtube.py
  apps/api/src/routers/plugins.py
  apps/api/tests/plugins/test_plugin_registry.py
Due: api-ruff-check, api-ruff-format

fix(api): normalize playlist comment schemas
  apps/api/src/plugins/youtube.py
Due: api-ruff-check, api-ruff-format

style(api): format youtube plugin
  apps/api/src/plugins/youtube.py
Due: api-ruff-check, api-ruff-format

fix: fail fast on public-viewer build and check viewer health
  .github/workflows/azure-deploy.yml
  apps/public-viewer/Dockerfile
  apps/public-viewer/entrypoint.sh
  docs/deployment/azure-migration-20260207.md
Due: none

fix: set turbopack root for public-viewer
  apps/public-viewer/next.config.ts
Due: none

ci: make Azure Deployment health check tolerate slow public-viewer startup
  .github/workflows/azure-deploy.yml
Due: none

chore: migrate from deprecated google-generativeai to google-genai
  apps/api/broadlistening/pipeline/services/llm.py
  apps/api/pyproject.toml
  packages/analysis-core/pyproject.toml
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/utils.py
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/src/analysis_core/workflow/engine.py
  packages/analysis-core/src/analysis_core/workflow/resolver.py
Due: api-ruff-check, api-ruff-format

fix: update google-genai migration tests and lockfiles
  apps/api/broadlistening/pipeline/services/llm.py
  apps/api/requirements-dev.lock
  apps/api/requirements.lock
  apps/api/tests/services/test_llm.py
  packages/analysis-core/requirements-dev.lock
  packages/analysis-core/requirements.lock
  packages/analysis-core/src/analysis_core/services/llm.py
Due: api-ruff-check, api-ruff-format

docs: update Azure migration memo with post-migration fixes
  docs/deployment/azure-migration-20260207.md
Due: none

fix: make ReportConfig.name optional for CLI-generated reports
  apps/api/src/schemas/report_config.py
Due: api-ruff-check, api-ruff-format

Fix cluster count display for single-level reports
  apps/public-viewer/app/[slug]/_op-image.tsx
  apps/public-viewer/components/report/Analysis.tsx
Due: client-lint

Fix op-image cluster count scope
  apps/public-viewer/app/[slug]/_op-image.tsx
Due: client-lint

Remove pandas from api and update tests
  apps/api/pyproject.toml
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

docs: consolidate and clean up documentation
  .gitignore
  .gitmodules
  LOG.md
  M5_PLUGIN_SYSTEM_PLAN.md
  M5_REFACTORING_PLAN.md
  PLAN.md
  PLAN_E2E_STABILIZATION.md
  PLAN_REPORT_DUPLICATION.md
  README.md
  docs/deployment/azure-blob-storage.md
  docs/deployment/azure-migration-20260207.md
  docs/deployment/azure.md
  docs/misc/future-proposals.md
  docs/testing.md
  docs/user-guide/how-to-use.md
  how_to_use/README.md
  how_to_use/images/ai_advanced_settings.png
  how_to_use/images/create_report.png
  mkdocs.yml
  scripts/docs_hooks.py
  test/e2e/CLIENT_STATIC_TEST_PLAN.md
  test/e2e/CLIENT_TEST_PLAN.md
  test/e2e/TEST_PLAN.md
Due: none

docs: embed repo readmes in mkdocs
  docs/repo-readmes/apps/admin.md
  docs/repo-readmes/apps/api-broadlistening.md
  docs/repo-readmes/apps/api.md
  docs/repo-readmes/apps/public-viewer.md
  docs/repo-readmes/experiments/direct-win.md
  docs/repo-readmes/experiments/embvec-reduce-public-comment.md
  docs/repo-readmes/experiments/evaluation-report.md
  docs/repo-readmes/experiments/index.md
  docs/repo-readmes/packages/analysis-core.md
  docs/repo-readmes/tests/e2e-fixtures-client.md
  docs/repo-readmes/tests/e2e.md
  docs/repo-readmes/tools/scripts.md
  docs/repo-readmes/utils/dummy-server.md
  mkdocs.yml
  packages/analysis-core/README.md
  test/e2e/CLAUDE.md
  test/e2e/README.md
  test/e2e/fixtures/client/README.md
Due: none

docs: fix broken guide links
  README.md
  packages/analysis-core/README.md
Due: none

docs: copy repo readmes for mkdocs
  .gitignore
  README.md
  docs/repo-readmes/apps/admin.md
  docs/repo-readmes/apps/api-broadlistening.md
  docs/repo-readmes/apps/api.md
  docs/repo-readmes/apps/public-viewer.md
  docs/repo-readmes/experiments/direct-win.md
  docs/repo-readmes/experiments/embvec-reduce-public-comment.md
  docs/repo-readmes/experiments/evaluation-report.md
  docs/repo-readmes/experiments/index.md
  docs/repo-readmes/packages/analysis-core.md
  docs/repo-readmes/tests/e2e-fixtures-client.md
  docs/repo-readmes/tests/e2e.md
  docs/repo-readmes/tools/scripts.md
  docs/repo-readmes/utils/dummy-server.md
  mkdocs.yml
  packages/analysis-core/README.md
  scripts/docs_hooks.py
  test/e2e/fixtures/client/README.md
Due: none

docs: fix docs site URLs in README
  README.md
Due: none

docs: add AI assistant skills and usage guide
  CLAUDE.md
  docs/development/ai-assistants.md
  mkdocs.yml
  skills/kouchou-ai-architecture/SKILL.md
  skills/kouchou-ai-development/SKILL.md
  skills/kouchou-ai-testing/SKILL.md
Due: none

docs: ensure CODEX_HOME skills dir exists
  docs/development/ai-assistants.md
Due: none

docs: add code block language identifiers
  docs/development/ai-assistants.md
  skills/kouchou-ai-development/SKILL.md
Due: none

docs: add plan for llm grouping and capability auto-detection
  PLAN_llm_grouping_capabilities.md
Due: none

Increase analysis timeouts to 300 seconds
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_overview.py
Due: none

Propagate timeout settings through gemini and extraction calls
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
Due: none

chore: add .coderabbit.yaml for draft PR reviews
  .coderabbit.yaml
Due: none

chore: add CodeQL analysis workflow
  .github/workflows/codeql.yml
Due: none

fix: filter out empty/whitespace-only comments before LLM processing (#583)
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/test_extraction_filter.py
Due: none

fix: add missing docstrings to satisfy coverage threshold
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/test_extraction_filter.py
Due: none
