Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

client-lint:
  run: npx biome check {push_files}
  skip: true

client-admin-lint:
  run: npx biome check {push_files}
  skip: true

dummy-server-lint:
  run: npx biome check {push_files}
  skip: true

api-ruff-check:
  run: rye run ruff check .

api-ruff-format:
  run: rye run ruff format . --check

fix(admin/standalone): basePath-aware internal links (Chakra Link ignored basePath)
  apps/admin/app/_components/Empty.tsx
  apps/admin/app/_components/ReportCard/ReportTitle.tsx
Due: client-admin-lint

feat(packaging): hub landing page at / linking to admin and viewer
  packaging/windows-standalone/run-server.py
  tmp-embeddable-poc/hub.png
  tmp-embeddable-poc/nav_admin.mjs
Due: none

feat(packaging): redirect / to the admin UI (drop the hub page)
  packaging/windows-standalone/env.sample
  packaging/windows-standalone/run-server.py
  tmp-embeddable-poc/hub.png
Due: none

fix: 意見抽出の部分失敗を検知して分析を中断する
  apps/api/tests/services/test_parse_json_list.py
  packages/analysis-core/src/analysis_core/services/parse_json_list.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/test_extraction_failures.py
Due: api-ruff-check, api-ruff-format

fix: Azure利用時のモデル選択をサーバー設定の固定表示にする
  apps/admin/app/create/components/AISettingsSection.test.tsx
  apps/admin/app/create/components/AISettingsSection.tsx
  apps/admin/app/create/hooks/useAISettings.ts
Due: client-admin-lint

feat: モデルカタログを統一し未検証モデルを選択可能にする
  .env.example
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.test.tsx
  apps/admin/app/_components/ReportCard/DuplicateReportDialog/DuplicateReportDialog.tsx
  apps/admin/app/create/components/AISettingsSection.test.tsx
  apps/admin/app/create/components/AISettingsSection.tsx
  apps/admin/app/create/hooks/useAISettings.test.ts
  apps/admin/app/create/hooks/useAISettings.ts
  apps/admin/app/create/hooks/useModelCatalog.ts
  apps/admin/app/create/page.tsx
  apps/admin/app/create/utils/validation.ts
  apps/admin/type.d.ts
  apps/api/src/routers/admin_report.py
  apps/api/src/services/llm_models.py
  apps/api/src/services/llm_pricing.py
  apps/api/src/services/model_catalog.json
  apps/api/src/services/model_catalog.py
  apps/api/src/services/report_status.py
  apps/api/tests/services/test_llm_pricing.py
  apps/api/tests/services/test_model_catalog.py
  docs/development/model-catalog.md
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/tests/test_orchestration.py
  utils/dummy-server/app/admin/models/route.ts
Due: client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

ci: カタログのみの変更でもAPIと管理画面を検査する
  .github/workflows/client-admin-build.yml
  .github/workflows/client-admin-jest.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/server-pytest.yml
Due: none

fix(admin): CSVファイル名で未入力のタイトルと概要を補完
  apps/admin/app/create/hooks/useBasicInfo.test.ts
  apps/admin/app/create/hooks/useBasicInfo.ts
  apps/admin/app/create/page.tsx
Due: client-admin-lint

fix(analysis): ラベル生成失敗時に後続処理を停止する
  apps/admin/app/_components/ReportCard/TokenUsage/analysisInfo.test.ts
  apps/admin/app/_components/ReportCard/TokenUsage/analysisInfo.ts
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/steps/_labelling.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_initial_labelling.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_merge_labelling.py
  packages/analysis-core/tests/test_labelling_failures.py
Due: client-admin-lint

fix(analysis): LLMタイムアウトを環境変数で設定可能にする
  .env.example
  docs/development/llm-timeout.md
  mkdocs.yml
  packages/analysis-core/src/analysis_core/plugins/builtin/extraction.py
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/src/analysis_core/services/timeouts.py
  packages/analysis-core/src/analysis_core/specs/hierarchical_specs.json
  packages/analysis-core/src/analysis_core/specs/llm_grouping_specs.json
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_overview.py
  packages/analysis-core/tests/test_timeouts.py
Due: none

feat(admin): 作成前に入力とAPI状態を確認する画面を追加
  apps/admin/app/create/components/CreateReportConfirmation.test.tsx
  apps/admin/app/create/components/CreateReportConfirmation.tsx
  apps/admin/app/create/page.test.tsx
  apps/admin/app/create/page.tsx
  test/e2e/tests/admin/create-report.spec.ts
  utils/dummy-server/app/admin/environment/verify/route.ts
  utils/dummy-server/app/admin/models/route.ts
Due: client-admin-lint, dummy-server-lint

test(admin): 確認画面のスクリーンショットを安定化
  test/e2e/tests/admin/create-report.spec.ts
Due: none

fix: explain malformed CSV input and discard stale uploads
  apps/admin/app/create/components/CsvFileTab.test.tsx
  apps/admin/app/create/components/CsvFileTab.tsx
  apps/admin/app/create/parseCsv.test.ts
  apps/admin/app/create/parseCsv.ts
  apps/admin/app/create/validateCsvResult.ts
  docs/images/csv-format-error.png
Due: client-admin-lint

feat: レポート閲覧時に読み方ガイドを表示する
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/components/report/ReadingGuide.tsx
  docs/images/report-reading-guide.png
Due: client-lint

docs: AIエージェントのIssue着手からPRまでの導線を集約する
  CLAUDE.md
  CONTRIBUTING.md
  docs/development/ai-assistants.md
  mkdocs.yml
  scripts/docs_hooks.py
Due: none

feat: CLIの補助HTMLにも読み方ガイドを含める
  packages/analysis-core/src/analysis_core/steps/hierarchical_visualization.py
Due: none

fix: 選択したproviderとモデルでチャット接続を確認する
  apps/admin/app/create/components/CreateReportConfirmation.test.tsx
  apps/admin/app/create/components/CreateReportConfirmation.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/verifyApiKey.test.ts
  apps/admin/app/create/components/EnvironmentCheckDialog/verifyApiKey.ts
  apps/admin/app/reuse/[slug]/page.tsx
  apps/api/src/routers/admin_report.py
  apps/api/tests/routers/test_admin_report.py
  docs/images/provider-connection-check.png
  docs/user-guide/reuse-report.md
  test/e2e/tests/admin/create-report.spec.ts
Due: client-admin-lint, api-ruff-check, api-ruff-format

fix: 階層図の表示位置と説明一覧を連動させる
  apps/public-viewer/components/charts/TreemapChart.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/ClusterOverview.tsx
  apps/public-viewer/components/report/TreemapDetails.test.tsx
  apps/public-viewer/components/report/TreemapDetails.tsx
  apps/public-viewer/components/report/treemapContext.test.ts
  apps/public-viewer/components/report/treemapContext.ts
  docs/images/treemap/context.png
Due: client-lint

fix: 抽出0件と失敗の原文付き診断を公開出力から分離する
  .gitignore
  docs/development/extraction-diagnostics.md
  mkdocs.yml
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/test_extraction_failures.py
Due: none

docs: Windows導入の前提と失敗時の分岐を整理する
  docs/getting-started/windows-setup.md
Due: none

docs: 抽出失敗例の収集とプロンプト比較の手順を追加
  docs/development/extraction-prompts.md
  mkdocs.yml
Due: none

feat: 完成レポートの参照整合性を任意で検査する
  docs/CLI_QUICKSTART.md
  packages/analysis-core/src/analysis_core/validate_output.py
  packages/analysis-core/tests/test_validate_output.py
Due: none

fix: 巨大数値を診断し検査ガイドを開発文書に登録
  docs/development/output-validation.md
  mkdocs.yml
  packages/analysis-core/src/analysis_core/validate_output.py
  packages/analysis-core/tests/test_validate_output.py
Due: none

fix: static-site-builder開発起動をtsxと実在する入口に変更
  apps/static-site-builder/package.json
  pnpm-lock.yaml
Due: none

fix: 日本語とスマホの閲覧を改善し状態カタログで回帰検査
  .github/workflows/client-jest.yml
  apps/public-viewer/app/dev/viewer-states/page.tsx
  apps/public-viewer/app/layout.tsx
  apps/public-viewer/app/page.tsx
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/SelectChartButton.tsx
  apps/public-viewer/components/charts/TreemapChart.tsx
  apps/public-viewer/components/dev/README.md
  apps/public-viewer/components/dev/ViewerStates.tsx
  apps/public-viewer/components/dev/viewer-fixture.json
  apps/public-viewer/components/report/Chart.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/LocalFileNotice.test.ts
  apps/public-viewer/components/report/LocalFileNotice.tsx
  apps/public-viewer/components/report/ReportListContent.tsx
  apps/public-viewer/lib/wrapJapaneseText.test.ts
  apps/public-viewer/lib/wrapJapaneseText.ts
  docs/development/mobile-reading.md
  mkdocs.yml
  test/e2e/playwright.viewer-states.config.ts
  test/e2e/tests/viewer-states/catalog.spec.ts
Due: client-lint

refactor: リスト時の説明重複を表示データ側で防ぐ
  apps/public-viewer/components/report/ClientContainer.tsx
Due: client-lint

fix(llm): make OpenAI Flex Processing work for GPT-5/6 and harden it
  .env.example
  apps/api/tests/services/test_llm.py
  docs/development/llm-timeout.md
  docs/development/openai-flex-processing.md
  packages/analysis-core/src/analysis_core/services/llm.py
Due: api-ruff-check, api-ruff-format

fix(llm): narrow Flex fallback to resource_unavailable and stop re-trying Flex
  apps/api/tests/services/test_llm.py
  docs/development/openai-flex-processing.md
  packages/analysis-core/src/analysis_core/services/llm.py
Due: api-ruff-check, api-ruff-format

feat(public-viewer): データ非依存な静的出力 (shell ビルド) を追加 (#885)
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/page.tsx
  apps/public-viewer/app/utils/__tests__/shell-data.test.ts
  apps/public-viewer/app/utils/shell-data.ts
  apps/public-viewer/app/utils/static-build.ts
  apps/public-viewer/components/report/ReportListShell.tsx
  apps/public-viewer/components/report/ReportShell.tsx
  apps/public-viewer/components/reporter/ShellReporter.tsx
  apps/public-viewer/package.json
  test/e2e/playwright.config.ts
  test/e2e/scripts/build-static.sh
  test/e2e/scripts/package-shell.mjs
  test/e2e/tests/client-static/shell/report-detail.spec.ts
Due: client-lint

ci(public-viewer): shell ビルドがレポートに依存しないことを検査する
  .github/workflows/client-build.yml
Due: none

ci(public-viewer): shell ビルドの検査を fixture API 込みの対照に変える
  .github/workflows/client-build.yml
Due: none

fix(llm): fall back to service_tier=default and treat empty Flex timeout as unset
  apps/api/tests/services/test_llm.py
  docs/development/openai-flex-processing.md
  packages/analysis-core/src/analysis_core/services/llm.py
Due: api-ruff-check, api-ruff-format

test(e2e): shell トップの見出しを role で特定する
  test/e2e/tests/client-static/shell/report-detail.spec.ts
Due: none

refactor(public-viewer): 監査指摘を反映（表示部の共通化・エラー種別の分離・検査の強化）
  .github/workflows/client-build.yml
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/page.tsx
  apps/public-viewer/components/report/ReportListShell.tsx
  apps/public-viewer/components/report/ReportListView.tsx
  apps/public-viewer/components/report/ReportShell.tsx
  apps/public-viewer/components/report/ReportView.tsx
  apps/public-viewer/components/report/ShellDataError.tsx
  test/e2e/scripts/build-static.sh
  test/e2e/scripts/package-shell.mjs
Due: client-lint

fix(public-viewer): shell の見つかりません表示をサイトの体裁に揃える
  apps/public-viewer/components/report/ReportShell.tsx
Due: client-lint

docs: export ビルドで OGP 画像が生成されない点を訂正 (#885)
  docs/development/web-ui-node-runtime-dependencies.md
Due: none

fix(public-viewer): 一覧のエラー画面が欠けたファイルを指すようにする
  apps/public-viewer/components/report/ReportListShell.tsx
Due: client-lint

test(e2e): shell の静的ビルドを既存 2 本の後に回す
  test/e2e/playwright.config.ts
Due: none

Revert "test(e2e): shell の静的ビルドを既存 2 本の後に回す"
  test/e2e/playwright.config.ts
Due: none

fix(public-viewer): 同梱データの取得エラーに失敗した url を持たせる
  apps/public-viewer/app/utils/shell-data.ts
  apps/public-viewer/components/report/ReportListShell.tsx
  apps/public-viewer/components/report/ReportShell.tsx
Due: client-lint

Path conditions:
  client-lint: any of: apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/public\-viewer/
  client-admin-lint: any of: apps/admin/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/admin/
  dummy-server-lint: any of: utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json} and ^utils/dummy\-server/ and not (hierarchical_result.json)
  api-ruff-check: any of: apps/api/**/*.py and ^apps/api/
  api-ruff-format: any of: apps/api/**/*.py and ^apps/api/
