Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    client-lint:
      root: "apps/public-viewer/"
      glob: "apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    client-admin-lint:
      root: "apps/admin/"
      glob: "apps/admin/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    dummy-server-lint:
      root: "utils/dummy-server/"
      glob: "utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json}"
      exclude: "hierarchical_result.json"
      run: "npx biome check {push_files}"
      skip: true
    api-ruff-check:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff check ."
    api-ruff-format:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff format . --check"

Clarify local LLM base URL helper docs
  apps/api/broadlistening/pipeline/services/llm.py
  packages/analysis-core/src/analysis_core/services/llm.py
Due: api-ruff-check, api-ruff-format

Clarify capability detection plan
  PLAN_llm_grouping_capabilities.md
Due: none

Avoid persisting dry-run pipeline status
  .github/workflows/analysis-core-ci.yml
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_cli.py
Due: none

Fix inline JSON escaping in HTML report
  packages/analysis-core/src/analysis_core/steps/hierarchical_visualization.py
  packages/analysis-core/tests/test_hierarchical_visualization.py
Due: none

fix public-viewer reporter API URL fallback
  apps/public-viewer/app/utils/__tests__/api.test.ts
  apps/public-viewer/app/utils/api.ts
  apps/public-viewer/components/reporter/Reporter.tsx
Due: client-lint

feat(local-llm): accept full URL in `address`, support `LOCAL_LLM_API_KEY` (#824)
  apps/api/broadlistening/pipeline/services/llm.py
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/tests/test_local_llm_base_url.py
Due: api-ruff-check, api-ruff-format

fix public-viewer reporter API URL fallback (#828)
  apps/public-viewer/app/utils/__tests__/api.test.ts
  apps/public-viewer/app/utils/api.ts
  apps/public-viewer/components/reporter/Reporter.tsx
Due: client-lint

docs: add plan for llm grouping and capability auto-detection (#827)
  PLAN_llm_grouping_capabilities.md
Due: none

Add analysis-core CI and test fixes (#826)
  .github/workflows/analysis-core-ci.yml
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_config.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_integration.py
  packages/analysis-core/tests/test_loader.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
  packages/analysis-core/tests/test_prompts.py
  packages/analysis-core/tests/test_steps_paths.py
  packages/analysis-core/tests/test_workflow_engine.py
Due: none

feat(visualization): self-contained HTML report (replaces broken npm step) + fix `--without-html` default (#825)
  docs/user-guide/cli-quickstart.md
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_visualization.py
  packages/analysis-core/tests/test_hierarchical_visualization.py
Due: none

Add analysis-core publish workflow
  .github/workflows/publish-analysis-core.yml
  docs/development/pypi-release.md
Due: none

remove fixed random seeds from hierarchical clustering
  apps/api/broadlistening/pipeline/steps/hierarchical_clustering.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_clustering.py
  packages/analysis-core/tests/test_hierarchical_clustering_random_seed.py
Due: api-ruff-check, api-ruff-format

Bump analysis-core version to 0.1.1
  packages/analysis-core/pyproject.toml
  packages/analysis-core/src/analysis_core/__init__.py
Due: none

feat(analysis-core): auto-calculate cluster counts when omitted
  docs/user-guide/cli-quickstart.md
  docs/user-guide/import-quickstart.md
  packages/analysis-core/src/analysis_core/compat/config_converter.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_clustering.py
  packages/analysis-core/src/analysis_core/specs/hierarchical_specs.json
  packages/analysis-core/src/analysis_core/steps/hierarchical_clustering.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_hierarchical_clustering.py
  packages/analysis-core/tests/test_orchestration.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
  packages/report-schema/src/index.ts
Due: none

docs(analysis-core): clarify optional cluster_nums docstring
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_clustering.py
Due: none

docs(analysis-core): document cube-root cluster rule
  packages/analysis-core/src/analysis_core/steps/hierarchical_clustering.py
Due: none

Fix analysis-core release tests
  packages/analysis-core/pyproject.toml
  packages/analysis-core/src/analysis_core/__init__.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_imports.py
Due: none

test(analysis-core): stop hardcoding package version
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_imports.py
Due: none

fix: validate public report payload before serving
  apps/api/src/routers/report.py
  apps/api/src/schemas/public_report_result.py
  apps/api/tests/routers/test_report.py
Due: api-ruff-check, api-ruff-format

Handle non-OK report fetch in static params
  apps/public-viewer/app/[slug]/page.tsx
Due: client-lint

Show clear Japanese error on static build with no published reports (#814)
  apps/public-viewer/app/[slug]/page.tsx
Due: client-lint

drop fixed-seed regression test
  packages/analysis-core/tests/test_hierarchical_clustering_random_seed.py
Due: none

Improve static build error handling for public viewer
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/utils/__tests__/static-build.test.ts
  apps/public-viewer/app/utils/static-build.ts
Due: client-lint

Improve static build error handling for public viewer (#835)
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/utils/__tests__/static-build.test.ts
  apps/public-viewer/app/utils/static-build.ts
Due: client-lint

ignore api uv lockfile
  .gitignore
Due: none

Seed workflow inputs and align html config
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_visualization.py
  packages/analysis-core/src/analysis_core/workflow/engine.py
  packages/analysis-core/src/analysis_core/workflow/resolver.py
  packages/analysis-core/tests/test_builtin_plugins.py
  packages/analysis-core/tests/test_workflow_engine.py
Due: none

Persist workflow status during execution
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/workflow/engine.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Reuse prior workflow outputs for reruns
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/workflow/engine.py
  packages/analysis-core/tests/test_orchestration.py
  packages/analysis-core/tests/test_workflow_engine.py
Due: none

Harden workflow flag sync and plugin callbacks
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_visualization.py
  packages/analysis-core/src/analysis_core/workflow/engine.py
  packages/analysis-core/tests/test_builtin_plugins.py
  packages/analysis-core/tests/test_orchestration.py
  packages/analysis-core/tests/test_workflow_engine.py
Due: none

Route CLI through workflow default path
  packages/analysis-core/src/analysis_core/__init__.py
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_integration.py
Due: none

Consolidate analysis-core launcher commands
  apps/api/src/services/report_launcher.py
  apps/api/tests/services/test_report_launcher.py
  packages/analysis-core/README.md
Due: api-ruff-check, api-ruff-format

Align docs and e2e with workflow default path
  apps/api/broadlistening/README.md
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
Due: none

Refresh import docs for workflow default mode
  docs/user-guide/import-quickstart.md
  packages/analysis-core/src/analysis_core/__init__.py
Due: none

Refresh refactoring docs for current analysis-core path
  docs/development/plugin-guide.md
  docs/refactoring/phase0_investigation.md
  docs/refactoring/phase2_5_plan.md
Due: none

Deprecate legacy direct-step run path
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_integration.py
Due: none

Document html sidecar as CLI-only artifact
  apps/api/src/services/report_launcher.py
  apps/api/src/services/report_sync.py
  apps/api/tests/services/test_report_sync.py
  docs/user-guide/cli-quickstart.md
  packages/analysis-core/README.md
Due: api-ruff-check, api-ruff-format

Fix analysis-core Ruff regressions
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Scope workflow e2e tests via plan
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
Due: none

Validate scoped workflow e2e plans
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
Due: none
