Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

lefthook.yml:

pre-push:
  parallel: true
  commands:
    client-lint:
      root: "apps/public-viewer/"
      glob: "apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    client-admin-lint:
      root: "apps/admin/"
      glob: "apps/admin/**/*.{js,mjs,jsx,ts,tsx,json}"
      run: "npx biome check {push_files}"
      skip: true
    dummy-server-lint:
      root: "utils/dummy-server/"
      glob: "utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json}"
      exclude: "hierarchical_result.json"
      run: "npx biome check {push_files}"
      skip: true
    api-ruff-check:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff check ."
    api-ruff-format:
      root: "apps/api/"
      glob: "apps/api/**/*.py"
      run: "rye run ruff format . --check"

Preserve explicit workflow plans in from_dict
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Test workflow status handling in report launcher
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Cover aggregation rerun status updates
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Exercise aggregation rerun service flow
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Cover CLI workflow rerun planning
  packages/analysis-core/tests/test_cli.py
Due: none

Exercise full report launcher service flow
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Fix legacy API Ruff import ordering
  apps/api/broadlistening/pipeline/steps/embedding.py
  apps/api/broadlistening/pipeline/steps/extraction.py
  apps/api/broadlistening/pipeline/steps/hierarchical_initial_labelling.py
  apps/api/broadlistening/pipeline/steps/hierarchical_merge_labelling.py
  apps/api/broadlistening/pipeline/steps/hierarchical_overview.py
Due: api-ruff-check, api-ruff-format

Align workflow failure status semantics
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Format report launcher workflow tests
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Cover config-based launcher service flow
  apps/api/tests/services/test_report_launcher.py
Due: api-ruff-check, api-ruff-format

Test duplicate workflow artifact reuse
  apps/api/tests/services/test_report_duplicate.py
Due: api-ruff-check, api-ruff-format

Test duplicate-style workflow reruns
  packages/analysis-core/tests/test_cli.py
Due: none

Test duplicate rerun planning from config
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

Add real workflow rerun e2e
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
Due: none

Cover workflow failure step status API
  apps/api/tests/routers/test_get_current_step.py
Due: api-ruff-check, api-ruff-format

Refresh workflow defaultization docs
  apps/api/broadlistening/README.md
  docs/refactoring/phase0_investigation.md
  docs/refactoring/phase2_5_plan.md
  docs/refactoring/phase3_plan.md
  packages/analysis-core/README.md
Due: none

Preserve token usage on workflow exceptions
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Refresh refactoring docs for workflow default path
  apps/api/broadlistening/README.md
  docs/refactoring/phase2_5_plan.md
  docs/refactoring/phase3_plan.md
Due: none

Split analysis-core optional dependencies into extras
  docs/user-guide/cli-quickstart.md
  docs/user-guide/import-quickstart.md
  packages/analysis-core/README.md
  packages/analysis-core/pyproject.toml
  packages/analysis-core/requirements-dev.lock
  packages/analysis-core/requirements.lock
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/src/analysis_core/steps/__init__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_clustering.py
  packages/analysis-core/tests/test_imports.py
Due: none

Fix lazy loading follow-ups
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_clustering.py
  packages/analysis-core/tests/test_imports.py
Due: none

Add CLI preflight validation
  docs/user-guide/cli-quickstart.md
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/__init__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Address preflight review comments
  docs/user-guide/cli-quickstart.md
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/__init__.py
Due: none

Fix quickstart heading structure
  docs/user-guide/cli-quickstart.md
Due: none

analysis-core CLI に preflight validation を追加 (#844)
  docs/user-guide/cli-quickstart.md
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/__init__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_orchestration.py
Due: none

Add UUID fallback for admin create flows
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/hooks/useBasicInfo.test.ts
  apps/admin/app/create/hooks/useBasicInfo.ts
  apps/admin/app/utils/__tests__/uuid.test.ts
  apps/admin/app/utils/uuid.ts
Due: client-admin-lint

Add UUID fallback for admin create flows (#847)
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/hooks/useBasicInfo.test.ts
  apps/admin/app/create/hooks/useBasicInfo.ts
  apps/admin/app/utils/__tests__/uuid.test.ts
  apps/admin/app/utils/uuid.ts
Due: client-admin-lint

Add env-aware CSP headers for web apps
  apps/admin/app/utils/__tests__/csp.test.ts
  apps/admin/next.config.ts
  apps/public-viewer/next.config.ts
  apps/shared/csp.ts
Due: client-admin-lint

Fix CSP helper typing
  apps/shared/csp.ts
Due: none

web apps に env-aware CSP header を追加 (#848)
  apps/admin/app/utils/__tests__/csp.test.ts
  apps/admin/next.config.ts
  apps/public-viewer/next.config.ts
  apps/shared/csp.ts
Due: client-admin-lint

Add static hosting CSP deployment guide
  README.md
  docs/deployment/azure.md
  docs/deployment/github-pages.md
  docs/deployment/static-hosting-csp.md
  docs/getting-started/quickstart.md
  docs/index.md
Due: none

Add static hosting CSP deployment guide (#849)
  README.md
  docs/deployment/azure.md
  docs/deployment/github-pages.md
  docs/deployment/static-hosting-csp.md
  docs/getting-started/quickstart.md
  docs/index.md
Due: none

Improve LocalLLM model auto-fetch UX
  apps/admin/app/create/components/AISettingsSection.tsx
  apps/admin/app/create/hooks/useAISettings.test.ts
  apps/admin/app/create/hooks/useAISettings.ts
  apps/admin/app/create/utils/validation.test.ts
  apps/admin/app/create/utils/validation.ts
Due: client-admin-lint

Improve LocalLLM model auto-fetch UX (#850)
  apps/admin/app/create/components/AISettingsSection.tsx
  apps/admin/app/create/hooks/useAISettings.test.ts
  apps/admin/app/create/hooks/useAISettings.ts
  apps/admin/app/create/utils/validation.test.ts
  apps/admin/app/create/utils/validation.ts
Due: client-admin-lint

Copy shared CSP helper into web app Docker builds
  apps/admin/Dockerfile
  apps/public-viewer/Dockerfile
Due: none

Copy shared CSP helper into web app Docker builds (#851)
  apps/admin/Dockerfile
  apps/public-viewer/Dockerfile
Due: none

Add report error log visibility in admin UI
  apps/admin/app/_components/ReportCard/ProgressSteps/ProgressSteps.tsx
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.test.ts
  apps/admin/app/_components/ReportCard/ProgressSteps/useReportProgressPolling.ts
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_launcher.py
  apps/api/tests/routers/test_get_current_step.py
  apps/api/tests/services/test_report_launcher.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Format report launcher logging helpers
  apps/api/src/services/report_launcher.py
Due: api-ruff-check, api-ruff-format

Address CodeRabbit feedback on error log visibility
  apps/admin/app/_components/ReportCard/ProgressSteps/ProgressSteps.tsx
  apps/api/src/routers/admin_report.py
  apps/api/src/services/report_launcher.py
  apps/api/tests/routers/test_get_current_step.py
  apps/api/tests/services/test_report_launcher.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

Format report launcher after review fixes
  apps/api/src/services/report_launcher.py
Due: api-ruff-check, api-ruff-format
