Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

client-lint:
  run: npx biome check {push_files}
  skip: true

client-admin-lint:
  run: npx biome check {push_files}
  skip: true

dummy-server-lint:
  run: npx biome check {push_files}
  skip: true

api-ruff-check:
  run: rye run ruff check .

api-ruff-format:
  run: rye run ruff format . --check

fix: add docstrings to all functions in extraction.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
Due: none

refactor: extract _filter_empty_comments helper and fix test structure
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/test_extraction_filter.py
Due: none

test: add value assertions and None-handling tests for _filter_empty_comments
  packages/analysis-core/tests/test_extraction_filter.py
Due: none

refactor: expose filter_empty_comments as public API and update test import
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/test_extraction_filter.py
Due: none

fix: API_BASEPATH未設定時のInvalid URLエラーを修正
  client/components/reporter/Reporter.tsx
Due: none

feat: 散布図に「詳細クラスタ」タブを追加
  client/components/charts/ScatterChart.tsx
  client/components/charts/SelectChartButton.tsx
  client/components/icons/ViewIcons.tsx
  client/components/report/Chart.tsx
  client/components/report/ClientContainer.tsx
Due: none

feat: 散布図に「詳細クラスタ」タブを追加
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/SelectChartButton.tsx
  apps/public-viewer/components/charts/plugins/scatter.tsx
  apps/public-viewer/components/icons/ViewIcons.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/type.ts
Due: client-lint

fix: CodeRabbitレビューコメントへの対応
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/plugins/scatter.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
Due: client-lint

feat: 詳細クラスタ表示時にクラスターの凸包を表示
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/plugins/scatter.tsx
Due: client-lint

fix: 凸包描画をdataトレースからlayout.shapesに変更
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

feat: 凸包ホバー時にクラスタ名を表示
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

fix: 凸包の最終点から始点へのラインが欠けていた問題を修正
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

feat: 全体ビューにも凸包を表示
  apps/public-viewer/components/charts/plugins/scatter.tsx
Due: client-lint

feat: 設定画面から凸包の表示/非表示を切り替えられるようにする
  apps/public-viewer/components/charts/plugins/scatter.tsx
  apps/public-viewer/components/charts/plugins/types.ts
  apps/public-viewer/components/report/Chart.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/DisplaySettingDialog.tsx
Due: client-lint

fix: CodeRabbit レビュー指摘を対応
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/plugins/scatter.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/DisplaySettingDialog.tsx
Due: client-lint

fix: CodeRabbit レビュー指摘を対応（第2弾）
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/SelectChartButton.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
Due: client-lint

fix: Copilot レビュー指摘を対応
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/plugins/__tests__/plugins.test.tsx
Due: client-lint

fix: SegmentGroup に安定した id を追加して SSR hydration mismatch を解消
  apps/public-viewer/components/charts/SelectChartButton.tsx
Due: client-lint

fix: targetClusters を useMemo でメモ化して hullTraces の deps を安定化
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

fix: テストモックを as unknown as Result に変更して型エラーを解消
  apps/public-viewer/components/charts/plugins/__tests__/plugins.test.tsx
Due: client-lint

fix: remove requirements-torch.txt (no longer referenced by Dockerfile)
  apps/api/requirements-torch.txt
Due: none

fix: use root-level tsc to build report-schema in Docker
  apps/admin/Dockerfile
Due: none

fix: use root-level tsc for report-schema build in public-viewer and static-site-builder Dockerfiles
  apps/public-viewer/Dockerfile
  apps/static-site-builder/Dockerfile
Due: none

fix: use root-level tsc for static-site-builder build in Docker
  apps/static-site-builder/Dockerfile
Due: none

fix: remove unused api deps and fix public-viewer node_modules shim
  apps/api/pyproject.toml
  apps/api/requirements-dev.lock
  apps/api/requirements.lock
  apps/public-viewer/Dockerfile
Due: none

fix: address CodeRabbit review comments on Docker and Next.js config
  apps/admin/next.config.ts
  apps/api/Dockerfile
  apps/static-site-builder/Dockerfile
Due: none

fix: add --index-strategy unsafe-first-match for CPU-only torch install
  apps/api/Dockerfile
Due: none

docs: clarify WITH_GPU usage in .env.example
  .env.example
Due: none

fix: override minimatch to >=10.2.1 to fix CVE-2026-26996 (ReDoS)
  package.json
  pnpm-lock.yaml
Due: none

fix: use ^10.2.1 instead of >=10.2.1 for minimatch override (CodeRabbit review)
  package.json
  pnpm-lock.yaml
Due: none

refactor: 属性フィルタロジックを一箇所に統合し、stale closureバグを修正
  apps/public-viewer/components/report/AttributeFilterDialog.tsx
  apps/public-viewer/components/report/Chart.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/attributeFilterUtils.ts
Due: client-lint

fix: レビュー指摘対応（空白trim、useMemo分離、コメント追加）
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/attributeFilterUtils.ts
Due: client-lint

feat: hide cluster label on scatter chart when hovering data points
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

fix: address PR review comments on scatter label hover
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

fix: use specific removeListener for hover cleanup and handle gd replacement
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

fix: unify onHover callback to gd.on listener only
  apps/public-viewer/components/charts/ScatterChart.tsx
Due: client-lint

誤混入したCI設定を見直し、CodeQL定期実行とCodeRabbit設定を調整
  .coderabbit.yaml
  .github/workflows/codeql.yml
Due: none

feat(local-llm): accept full URL in `address`, support `LOCAL_LLM_API_KEY`
  apps/api/broadlistening/pipeline/services/llm.py
  packages/analysis-core/src/analysis_core/services/llm.py
  packages/analysis-core/tests/test_local_llm_base_url.py
Due: api-ruff-check, api-ruff-format

feat(visualization): self-contained HTML report (replaces broken npm step) + fix --without-html default
  docs/user-guide/cli-quickstart.md
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/steps/hierarchical_visualization.py
  packages/analysis-core/tests/test_hierarchical_visualization.py
Due: none

Add analysis-core CI and test fixes
  .github/workflows/analysis-core-ci.yml
  packages/analysis-core/src/analysis_core/__main__.py
  packages/analysis-core/src/analysis_core/core/orchestration.py
  packages/analysis-core/src/analysis_core/orchestrator.py
  packages/analysis-core/src/analysis_core/steps/extraction.py
  packages/analysis-core/tests/e2e/test_pipeline_e2e.py
  packages/analysis-core/tests/test_cli.py
  packages/analysis-core/tests/test_compat.py
  packages/analysis-core/tests/test_config.py
  packages/analysis-core/tests/test_imports.py
  packages/analysis-core/tests/test_integration.py
  packages/analysis-core/tests/test_loader.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
  packages/analysis-core/tests/test_prompts.py
  packages/analysis-core/tests/test_steps_paths.py
  packages/analysis-core/tests/test_workflow_engine.py
Due: none

Path conditions:
  client-lint: any of: apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/public\-viewer/
  client-admin-lint: any of: apps/admin/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/admin/
  dummy-server-lint: any of: utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json} and ^utils/dummy\-server/ and not (hierarchical_result.json)
  api-ruff-check: any of: apps/api/**/*.py and ^apps/api/
  api-ruff-format: any of: apps/api/**/*.py and ^apps/api/
