Repository digitaldemocracy2030/kouchou-ai: changes, and which lefthook commands are due for each by the changed paths.
All: client-lint, client-admin-lint, dummy-server-lint, api-ruff-check, api-ruff-format

client-lint:
  run: npx biome check {push_files}
  skip: true

client-admin-lint:
  run: npx biome check {push_files}
  skip: true

dummy-server-lint:
  run: npx biome check {push_files}
  skip: true

api-ruff-check:
  run: rye run ruff check .

api-ruff-format:
  run: rye run ruff format . --check

fix(public-viewer): avoid Emotion hydration errors in shell builds
  .github/workflows/e2e-tests.yml
  apps/public-viewer/package.json
  test/e2e/tests/client-static/shell/report-detail.spec.ts
Due: none

test(public-viewer): expand mobile hierarchy before checking clusters
  test/e2e/tests/client-static/root/report-detail.spec.ts
  test/e2e/tests/client-static/subdir/report-detail.spec.ts
Due: none

feat: shell配布HTMLにレポート別タイトルと検索除外を反映
  .github/workflows/e2e-tests.yml
  apps/api/src/services/shell_export.py
  apps/api/tests/services/test_shell_export.py
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/hooks/useShellMetadata.ts
  apps/public-viewer/app/page.tsx
  apps/public-viewer/components/report/ReportListShell.tsx
  apps/public-viewer/components/report/ReportShell.tsx
  docs/development/static-shell-export.md
  mkdocs.yml
  test/e2e/fixtures/client/shell-metadata-cases.json
  test/e2e/scripts/package-shell.mjs
  test/e2e/scripts/package-shell.py
  test/e2e/tests/client-static/shell/metadata.spec.ts
  test/e2e/tests/client-static/shell/report-detail.spec.ts
Due: client-lint, api-ruff-check, api-ruff-format

feat: shell配布HTMLにレポート別タイトルと検索除外を反映 (#940)
  .github/workflows/e2e-tests.yml
  apps/api/src/services/shell_export.py
  apps/api/tests/services/test_shell_export.py
  apps/public-viewer/app/[slug]/page.tsx
  apps/public-viewer/app/hooks/useShellMetadata.ts
  apps/public-viewer/app/page.tsx
  apps/public-viewer/components/report/ReportListShell.tsx
  apps/public-viewer/components/report/ReportShell.tsx
  docs/development/static-shell-export.md
  mkdocs.yml
  test/e2e/fixtures/client/shell-metadata-cases.json
  test/e2e/scripts/package-shell.mjs
  test/e2e/scripts/package-shell.py
  test/e2e/tests/client-static/shell/metadata.spec.ts
  test/e2e/tests/client-static/shell/report-detail.spec.ts
Due: client-lint, api-ruff-check, api-ruff-format

docs: コードを書かない人の貢献方法と投稿先を案内
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

ci: 静的viewerの確認用成果物を保存する
  .github/workflows/client-build.yml
  docs/development/static-preview.md
  mkdocs.yml
Due: none

test: 作成前のAPI接続エラーから復帰するE2Eを追加
  .github/workflows/e2e-tests.yml
  test/e2e/README.md
  test/e2e/tests/admin/connection-errors.spec.ts
  test/e2e/tests/admin/create-report.spec.ts
  utils/dummy-server/app/admin/environment/verify/route.ts
Due: dummy-server-lint

docs: 公開前に確認する作成者・規約リンクを案内
  docs/user-guide/how-to-use.md
Due: none

fix: Azure接続確認の失敗時にAPIバージョン等の確認先を案内
  apps/admin/app/create/components/CreateReportConfirmation.test.tsx
  apps/admin/app/create/components/CreateReportConfirmation.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/azureErrorMessage.ts
  apps/api/src/routers/admin_report.py
  apps/api/tests/routers/test_admin_report.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

feat: レポート別に濃いクラスタの初期値を保存する
  apps/admin/app/_components/ReportCard/VisualizationConfigDialog/VisualizationConfigDialog.test.tsx
  apps/admin/app/_components/ReportCard/VisualizationConfigDialog/VisualizationConfigDialog.tsx
  apps/api/src/schemas/visualization_config.py
  apps/api/tests/routers/test_density_settings.py
  docs/user-guide/density-settings.md
  mkdocs.yml
Due: client-admin-lint, api-ruff-check, api-ruff-format

fix: 入力ラベルをChakraのasChildで型安全に描画
  apps/admin/app/_components/ReportCard/VisualizationConfigDialog/VisualizationConfigDialog.tsx
Due: client-admin-lint

docs: 脆弱性の非公開報告を案内するSECURITY.mdを追加
  CONTRIBUTING.md
  SECURITY.md
Due: none

fix: 依存関係を更新しPlotly 4とNode 22へ対応
  .github/workflows/client-admin-build.yml
  .github/workflows/client-admin-jest.yml
  .github/workflows/client-build.yml
  .github/workflows/client-jest.yml
  .github/workflows/e2e-tests.yml
  apps/admin/next-env.d.ts
  apps/admin/package.json
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/TreemapChart.tsx
  apps/public-viewer/components/charts/plugins/__tests__/validation.test.ts
  apps/public-viewer/components/report/TreemapDetails.test.tsx
  apps/public-viewer/next-env.d.ts
  apps/public-viewer/package.json
  docs/development/why-pnpm.md
  package.json
  pnpm-lock.yaml
  test/e2e/tests/viewer-states/catalog.spec.ts
  utils/dummy-server/package.json
Due: client-lint

docs: 描画コンポーネントの責務と動作を説明
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/TreemapChart.tsx
Due: client-lint

fix: 依存関係の更新とPlotly 4互換性対応 (#950)
  .github/workflows/client-admin-build.yml
  .github/workflows/client-admin-jest.yml
  .github/workflows/client-build.yml
  .github/workflows/client-jest.yml
  .github/workflows/e2e-tests.yml
  apps/admin/next-env.d.ts
  apps/admin/package.json
  apps/public-viewer/components/charts/ScatterChart.tsx
  apps/public-viewer/components/charts/TreemapChart.tsx
  apps/public-viewer/components/charts/plugins/__tests__/validation.test.ts
  apps/public-viewer/components/report/TreemapDetails.test.tsx
  apps/public-viewer/next-env.d.ts
  apps/public-viewer/package.json
  docs/development/why-pnpm.md
  package.json
  pnpm-lock.yaml
  test/e2e/tests/viewer-states/catalog.spec.ts
  utils/dummy-server/package.json
Due: client-lint

docs: 公開前に確認する作成者・規約リンクを案内 (#944)
  docs/user-guide/how-to-use.md
Due: none

ci: 静的viewerの確認用成果物を保存する (#942)
  .github/workflows/client-build.yml
  docs/development/static-preview.md
  mkdocs.yml
Due: none

docs: コードを書かない人の貢献方法と投稿先を案内 (#941)
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

test: 作成前のAPI接続エラーから復帰するE2Eを追加 (#943)
  .github/workflows/e2e-tests.yml
  test/e2e/README.md
  test/e2e/tests/admin/connection-errors.spec.ts
  test/e2e/tests/admin/create-report.spec.ts
  utils/dummy-server/app/admin/environment/verify/route.ts
Due: dummy-server-lint

docs: Azure接続確認の関数と検証範囲を説明
  apps/admin/app/create/components/CreateReportConfirmation.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/api/tests/routers/test_admin_report.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

fix: Azure接続確認の失敗時に設定の確認先を案内 (#945)
  apps/admin/app/create/components/CreateReportConfirmation.test.tsx
  apps/admin/app/create/components/CreateReportConfirmation.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.test.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/EnvironmentCheckDialog.tsx
  apps/admin/app/create/components/EnvironmentCheckDialog/azureErrorMessage.ts
  apps/api/src/routers/admin_report.py
  apps/api/tests/routers/test_admin_report.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

fix: 旧密度設定の読み込みで他の表示設定を保持する
  apps/admin/app/_components/ReportCard/VisualizationConfigDialog/VisualizationConfigDialog.tsx
  apps/api/src/routers/admin_report.py
  apps/api/src/routers/report.py
  apps/api/src/schemas/visualization_config.py
  apps/api/tests/routers/test_density_settings.py
Due: client-admin-lint, api-ruff-check, api-ruff-format

fix: 密度割合の表示で浮動小数点誤差を丸める
  apps/admin/app/_components/ReportCard/VisualizationConfigDialog/VisualizationConfigDialog.test.tsx
  apps/admin/app/_components/ReportCard/VisualizationConfigDialog/VisualizationConfigDialog.tsx
Due: client-admin-lint

fix: Ollamaのホスト側ポートをOLLAMA_HOST_PORTで変えられるようにする
  .env.example
  README.md
  compose.yaml
Due: none

docs: READMEにホスト側の接続ポートは OLLAMA_HOST_PORT（既定 11434）であることを明記
  README.md
Due: none

fix: Ollamaのホスト側ポートを OLLAMA_HOST_PORT で変えられるようにする (#952)
  .env.example
  README.md
  compose.yaml
Due: none

docs: ollamaのホスト側ポートがOLLAMA_HOST_PORTで変更できることをポート表に追記
  docs/index.md
Due: none

fix(analysis-core): HTML出力ありのCLI実行が report_dir 未定義で失敗する問題を修正
  packages/analysis-core/src/analysis_core/plugins/builtin/hierarchical_visualization.py
  packages/analysis-core/src/analysis_core/workflows/hierarchical_default.py
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

test: 可視化ステップ回帰テストに説明を追加
  packages/analysis-core/tests/test_pipeline_paths_integration.py
Due: none

fix: セットアップスクリプトの.envに静的版ダウンロードとキャッシュ更新の設定を追加
  .github/workflows/setup-scripts-env.yml
  .github/workflows/windows-setup-script.yml
  scripts/check_setup_env.py
  setup_linux.sh
  setup_mac.sh
  setup_win.ps1
Due: none

feat: 全画面表示のまま散布図のクラスタ粒度を切り替えられるようにする
  apps/public-viewer/components/charts/ScatterLevelSwitch.tsx
  apps/public-viewer/components/charts/SelectChartButton.tsx
  apps/public-viewer/components/report/Chart.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
  apps/public-viewer/components/report/FullscreenToolbar.tsx
Due: client-lint

test: 全画面でのクラスタ粒度切替と全画面終了の回帰テストを追加
  apps/public-viewer/components/charts/__tests__/ScatterLevelSwitch.test.tsx
  apps/public-viewer/components/report/ClientContainer.test.tsx
Due: client-lint

docs: 韓国語版のREADME（README.ko.md）を追加
  README.ko.md
  README.md
Due: none

test(e2e): 全画面のままクラスタ粒度を切り替える E2E を状態カタログに追加
  test/e2e/tests/viewer-states/catalog.spec.ts
Due: none

fix: 全画面の粒度切替で選べるモードをフィルタ前の結果から判定する
  apps/public-viewer/components/report/Chart.test.tsx
  apps/public-viewer/components/report/Chart.tsx
  apps/public-viewer/components/report/ClientContainer.tsx
Due: client-lint

fix: Biome の全体 lint エラーを 0 にし、CI で biome ci を強制する (#962)
  .github/workflows/client-admin-build.yml
  .github/workflows/client-build.yml
  CONTRIBUTING.md
  apps/admin/app/_components/ReportCard/ActionMenu/ActionMenu.tsx
  apps/admin/app/_components/ReportCard/ActionMenu/jsonDownload.test.ts
  apps/admin/app/page.tsx
  apps/admin/instrumentation.server.ts
  apps/public-viewer/app/faq/Contact.tsx
  apps/public-viewer/app/utils/__tests__/shell-data.test.ts
  apps/public-viewer/components/charts/plugins/scatter.tsx
  apps/public-viewer/components/report/DisplaySettingDialog.tsx
  apps/public-viewer/components/report/attributeFilterUtils.ts
  biome.json
  utils/dummy-server/app/admin/reports/[slug]/duplicate/route.ts
  utils/dummy-server/app/admin/reports/route.ts
  utils/dummy-server/app/reports/[slug]/route.ts
  utils/dummy-server/app/reports/route.ts
Due: client-lint, client-admin-lint, dummy-server-lint

fix: 抽出プロンプトの入出力例で「必要がある」を「すべき」に言い直さない
  apps/admin/app/create/extractionPrompt.ts
  packages/analysis-core/src/analysis_core/prompts/__init__.py
Due: client-admin-lint

docs: 韓国語版のREADME（README.ko.md）を追加 (#959)
  README.ko.md
  README.md
Due: none

docs: READMEを英語版にし、日本語版をREADME.ja.mdへ移す
  README.ja.md
  README.ko.md
  README.md
  apps/public-viewer/components/reporter/ReporterContent.tsx
Due: client-lint

docs: READMEを英語版にし、日本語版をREADME.ja.mdへ移す (#966)
  README.ja.md
  README.ko.md
  README.md
  apps/public-viewer/components/reporter/ReporterContent.tsx
Due: client-lint

Path conditions:
  client-lint: any of: apps/public-viewer/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/public\-viewer/
  client-admin-lint: any of: apps/admin/**/*.{js,mjs,jsx,ts,tsx,json} and ^apps/admin/
  dummy-server-lint: any of: utils/dummy-server/**/*.{js,mjs,jsx,ts,tsx,json} and ^utils/dummy\-server/ and not (hierarchical_result.json)
  api-ruff-check: any of: apps/api/**/*.py and ^apps/api/
  api-ruff-format: any of: apps/api/**/*.py and ^apps/api/
